<h2>Team Mebers:</h2>
<p>Xuewei Ji,Zhixin Jiang</p>
<p></p>
<h2>Description:</h2>
<p>This is a website for vehicle trading or renting</p>
<h3>Register</h3>
<p>User is available to create account</p>
<h3>Login</h3>
<p>After an account is registered, the user is available to login</p>
<h3>Home</h3>
<p>List all vehicles which are inserted by user</p>
<h3>Regular Car,Truck,SUV</h3>
<P>3 Pages with the same structure of Home, separated by different vehicle type</P>
<h3>For Rent,For Sale</h3>
<p>2 Pages with the same structure of Home, separated by rental or sale</p>
<h3>Vehicle Detail</h3>
<p>Click "more detail" in the home page ,user will go to a new page for vehicle detail info.</p>
<h3>Add new vehicle(Login Required)</h3>
<p>Valid user is available to add new vehicle</p>
<h3>My sell list</h3>
<p>A page with a table to show vehicle list current user uploaded. User can delete the existing vehicle uploaded by himself</p>
<h3>Contact Seller</h3>
<p>The User is able to send messages to the seller on the web. The Web server will send user's message via email to the seller</p>
<h3>Logout</h3>
<p>User can logout</p>