<article class="add_new_form">
    <form method="POST">
        <h1 id="add_header">Login
            <span>Please fill your username email and password</span>
        </h1>
        <label>
            <span>Email:</span>
            <input type="text" required="required" name="email" size="10">
        </label>
        <label>
            <span>Password:</span>
            <input type="text" required="required" name="password" size="10">
        </label>
        <label>
            <button type="submit" class="button">Submit </button>
        </label>
    </form>
</article>